/* Container */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Form Row */
.formRow {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

/* Inputs + Dropdown */
input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 20px;
  font-size: 14px;
}

/* Make inputs wider */
input {
  width: 200px;
}

/* Dropdown width */
select {
  width: 200px;
  height: 40px;
}

/* Button */
button {
  height: 40px;
  padding: 0 15px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

/* List */
li {
  text-align: left;
  justify-self: space-between;
  align-items: center;
  margin: 5px 0;
}

li:nth-child(odd) {
  background-color: #f2f2f2;
}

li:nth-child(even) {
  background-color: #ffffff;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-height: 350px;
}
  
.chart-box {
  width: 35%;
  min-width: 300px;
}

.records {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  text-indent: 10px;
}

.delete-button {
  background: #f44336;
}